<footer class="site-footer h-card">
  <div class="footer-wrap">
    <div class="footerLinks">
        <div>
          <a id="changeTheme">Light Mode</a><br>
          <span class="footerIcon">
            <a href="https://twitter.com/cryptohack__" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
            <a href="https://discord.gg/h9E7cna5pV" aria-label="Discord"><img src="https://cryptohack.org/static/img/Discord-Logo-Color.svg" width="25" style="padding-bottom: 10px;"></i></a>
            <a href="https://patreon.com/cryptohack" aria-label="Patreon"><i class="fab fa-patreon"></i></a>
          </span><br>
        </div>
      </div>
  </div>
</footer>
